* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  font-size: 16px; }

h1 {
  margin: 20px auto;
  color: rgba(215, 44, 44, 0.8);
  padding: 0;
  font-size: 100px;
  text-align: center; }

.container {
  height: 800px;
  margin: 30px auto;
  width: 800px;
  border: solid 10px black;
    border-radius: 10px 10px 0 0;
  box-shadow: 0 5px 10px gray; }

.cell {
  background-size: contain;
  box-sizing: border-box;
  float: left;
  height: 16px;
  width: 16px; }

.board {
  background-color: #999; }
  .board__snake {
    background-color: #407847; }
  .board__food {
    background-color: rgba(215, 44, 44, 0.8); }
